
body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	
	*, 
	*:before, 
	*:after {
		box-sizing: border-box;
	}
	
	nav,
	section{
		display: inline-block;
		position:relative;
		vertical-align: top;
		padding:20px;
		margin-top:75px;
		text-align: left;
	}
	
	nav{
		display:none;
		width:10vw;
		
		h2{
			padding:0;
			margin:0 0 20px 0;
		}
		
		ul{
			padding:0;
			margin:0;
			list-style-type: none;
			
			li{
				padding:5px;
				margin-bottom: 15px;
				border-bottom: 1px solid $grey;
				cursor:pointer;
				transition: all .5s ease;
				
				&:hover{
					color:$green;
					border-bottom: 1px solid $green;
				}
			}
			
			li.on{
				color:$green;
				border-bottom: 1px solid $green;
			}
		}
	}
	
	section{
		 width:80vw;
		 border-radius:10px;
		 
		 h1 {
				  position:absolute;
				  top:0;
				  left:0;
				  width:100%;
				  text-align: center;
				  font-size: 16px;
				  color: $drkgrey;
				  font-weight: 300;
				  text-align: center;
				  z-index:100;
				  
				  transition:ease 0.3s color;
			  
				  span {
				    color: $green;
				  }
			

			  }
		 
		 .content{
			 position:relative;
			 height:75vh;
			 border-radius:10px;
		 }

	}
	
}