// five ---------------------------- //
.five{
	
	button {
	  padding: 12px 30px;
	  box-shadow: none;
	  border: none;
	  color: #FFF;
	  cursor: pointer;
	  background-color: $drkgrey;
	  border-radius: 5px;
	  font-size:18px;
	  font-weight: 200;
	  letter-spacing: 2px;
	  transition:all .5s ease;
	  
	  &:hover {
	    background-color: rgba(0, 0, 0, 0.35);
	  }
	
	  &:focus {
	    outline: none;
	  }
	}
	
	#list {
	  width: 250px;
	  width: 90%;
	  width: 0;
	  position: relative;
	  display: block;
	  margin-top: 50px;
	}
	
	.tile {
	  display: block;
	  position: absolute;
	  background-color: $green;
	  color: #FFF;
	  padding: 5px;
	  font-weight: bold;
	}
	
	.layout {
	  padding: 75px 0 15px 0;
	  
	  label {
	    margin-right: 15px;
	    cursor: pointer;
	    
	    &:hover {
	      color: $green;
	    }
	  }
	
	  input {
	    margin-right: 3px;
	  }
	}


}