// seven ---------------------------- //
.seven{
	
	h1{
		color: #FFF;
		span {
		    color: #FFF;
		}
	}
	
	#firefly{
		canvas{
			padding: 0;
			margin: 0;
			overflow: hidden;
			border-radius:10px;
		}
	}
	
}

