// two ---------------------------- //
.two{
	
	.interface {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  z-index: 111;
	}
	
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.text {
		font-size: 14px;
		color: #fff;
	}
	
	.text-made {
		position: absolute;
		bottom: 24px;
		left: 24px;
	}
	
	.text-inspiration {
		position: absolute;
		bottom: 24px;
		right: 24px;
	}
	
	.text-link {
		position: relative;
	
		color: #fff;
		font-weight: 600;
		text-decoration: none;
	
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
	
			background-color: #fff;
	
			.transition(width 0.2s ease-out);
		}
	
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
	

	
	.dg.ac {
	  z-index: 999 !important;
	}

}