<div class="content one">
	
	<h1><strong>Three.js</strong> - Randomly Moving Polygons</h1>
	
    <div id="canvas"></div>	
    
</div>

<!-- dependencies -->
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16395/tween.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
<script type="text/javascript" src="https://js.leapmotion.com/0.2.1/leap.min.js"></script>


<!-- Particles -->
<script type = "x-shader/x-vertex" id="vertex">
			
		attribute float size;
		uniform float bass;
					
		void main() {
							
			  vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
			
				gl_PointSize = size * bass * (100.0 / length(mvPosition.xyz));
			
				gl_Position = projectionMatrix * mvPosition;
		
		}
		
</script>
		
<script type = "x-shader/x-fragment" id="fragment">
		
		uniform vec3 color;
		uniform sampler2D texture;
		uniform float opacity;
		
		void main() {
		
				vec4 outColor = texture2D(texture, gl_PointCoord);
		
				gl_FragColor = outColor * vec4(color, opacity);
						
		}
		
</script>

<!-- three.js -->
<script>

var self = window;

;(function(self) {	
	
	var container, scene, camera, renderer, stats, cubes = [], mouse = { x: 0, y: 0 }, group, cubeCamera, material = 0, particles, uniforms, mouseDown = start = play = false, lastTransition = Date.now();
				
	var cntrWidth = $('.one').width();
	var cntrHeight = $('.one').height()
	
	// Dat GUI default value
	var showStats = false;			
				
	// List of colors.
	var colors = {
		
		lightRed: [
			
			'#ffffff',
			'#ff0000'
			
		],
		
		lightViolet: [
			
			'#ffffff',
			'#ee82ee'
						
		],
		
		lightBlue: [
		
			'#ffffff',
			'#00bcff'
		
		]
	
	};
	
	// Settings.
	var Settings = function() {
			
		this.showStats = false;
		
		this.enableStats = function(value) {
			
			showStats = value;
			
			showStats ? stats.domElement.style.visibility = 'visible' : stats.domElement.style.visibility = 'hidden';
			
		};
					
	};	
	
	window.addEventListener ? window.addEventListener('load', init, false) : window.onload = init;
	
	// Init ------------------------------------------------ //
	function init() {
		
		if(!window.WebGLRenderingContext) { 
				
			console.error("Sorry, your browser doesn't support WebGL."); 	
			return; 
					
		} 
		
		
		var settings = new Settings();
		var GUI = new dat.GUI();
		dat.GUI.toggleHide(); // hide controls
						
		// Dat GUI main
		GUI.add(settings, 'showStats').onChange(settings.enableStats);
		  
		var body = document.querySelector('#canvas');
	
		container = document.createElement('div');
		
		container.width = cntrWidth;
		container.height = cntrHeight;
		
		container.style.background = '-webkit-gradient(#ffcc99, #ff9933)';
		container.style.background = '-moz-gradient(#ffcc99, #ff9933)';
		container.style.background = '-ms-radial-gradient(#ffcc99, #ff9933)';
		container.style.background = '-o-radial-gradient(#ffcc99, #ff9933)';
		container.style.background = 'radial-gradient(#ffcc99, #ff9933)';
		
		container.style.position = 'absolute';
		container.style.top = 0;
		container.style.bottom = 0;
		container.style.left = 0;
		container.style.right = 0;
		container.style.zIndex = -1;
		container.style.overflow = 'hidden';
				
		body.appendChild(container);
		
		
		
		// Setup
		camera = new THREE.PerspectiveCamera(75, cntrWidth / cntrHeight, 1, 10000);
		camera.position.z = 2000;
		
		scene = new THREE.Scene();
		
		// Lights
		hemisphereLight = new THREE.HemisphereLight(0xffffff, 100);
		scene.add( hemisphereLight );
		
		pointLight = new THREE.PointLight(0xffffff, 3.0);
		scene.add(pointLight);
		
		cubeCamera = new THREE.CubeCamera(600, 2500, 512);
		scene.add(cubeCamera);
		
		group = new THREE.Object3D();
	
		for(var cube = 0, len = 80; cube < len; cube++) {
			
			var orangeMaterial = new THREE.MeshPhongMaterial({
					
				color: colors.lightRed[cube % colors.lightRed.length],	
					
				specular: 0x00b2fc, 
				emissive: 0x000000, 
				
				shininess: 20, 
				
				shading: THREE.FlatShading, 
				blending: THREE.NormalBlending, 
				
				depthTest: true,
				transparent: false,

				opacity: 1.0
						
			});
																			
			var violetMaterial = new THREE.MeshPhongMaterial({

				color: colors.lightViolet[cube % colors.lightViolet.length], 
						
				specular: 0x00b2fc, 
				emissive: 0x000000, 
				
				shininess: 20, 
				
				shading: THREE.FlatShading, 
				blending: THREE.NormalBlending, 
				
				depthTest: true,
				transparent: false,

				opacity: 1.0
						
			});
			
			var blueMaterial = new THREE.MeshPhongMaterial({

				color: colors.lightBlue[cube % colors.lightBlue.length], 
						
				specular: 0x00b2fc, 
				emissive: 0x000000, 
				
				shininess: 20, 
				
				shading: THREE.FlatShading, 
				blending: THREE.NormalBlending, 
				
				depthTest: true,
				transparent: false,

				opacity: 1.0		
						
			});
						
			var geometry = new THREE.TetrahedronGeometry(50, 1);
			geometry.dynamic = true;
			
			var mesh = new THREE.Mesh(geometry, violetMaterial);
					
			mesh.position.x = Math.random() * 2000 - 1000;
			mesh.position.y = Math.random() * 2000 - 1000;
			mesh.position.z = Math.random() * 2000 - 1000;
			mesh.rotation.x = Math.random() * 2 * Math.PI;
			mesh.rotation.y = Math.random() * 2 * Math.PI;
			mesh.rotation.z = Math.random() * 2 * Math.PI;
			
										
			cubes.push({
					
				mesh: mesh,	
				
				materials: [
						
					orangeMaterial,	
					violetMaterial,	
					blueMaterial
					
				],		
				
				band: Math.floor(Math.random(128)),
				scale: 0,
				level: ~~(Math.random() * (7 - 2 + 1) + 2)
					
			});
			
			group.add(mesh);

		}

		scene.add(group);
		
		// Init particles and mesh
		loadParticles();
		updateTransitions(0);

		renderer = new THREE.WebGLRenderer({ antialias: true });
		renderer.setSize(cntrWidth, cntrHeight);
		
		container.appendChild(renderer.domElement);

		// Stats
		stats = new Stats();
		
		stats.domElement.style.position = 'absolute';
		stats.domElement.style.top = '0px';
		
		container.appendChild(stats.domElement);
		
		// Hide stats
		settings.enableStats();
	
		render();
	
		window.onresize = onResize;

	}
	
	// methods --------------------------------------------- //
	
	//On resize event.
	function onResize(event) {

		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();
    
		renderer.setSize(window.innerWidth, window.innerHeight);

	}
	
	// Load the particles.
	function loadParticles() {
		
		THREE.ImageUtils.crossOrigin = '';
		
		var attributes = {
			size: { type: 'f', value: [] }	
		};
		
		uniforms = {
			color: { type: 'c', value: new THREE.Color(0x454545) },
			bass: {type: 'f', value: 0.0 },
			opacity: { type: 'f', value: 0.0 },
		
		};
		
		
		var shaderMaterial = new THREE.BufferGeometry( {
		
			uniforms: uniforms,
			attributes: attributes,
			
			vertexShader: document.getElementById('vertex').textContent,
			fragmentShader: document.getElementById('fragment').textContent,
		
			blending: THREE.AdditiveBlending,
			transparent: true,
							
		});
		
		
		var geometry = new THREE.Geometry();
		geometry.verticesNeedUpdate = true;
				
		// Position
		for(particle = 0, len = 100; particle < len; particle++) 
							
			geometry.vertices.push(new THREE.Vector3(Math.random() * 10000 - 5000, Math.random() * 10000 - 5000, Math.random() * 10000 - 5000));
					
		// Size
		for(var index = 0, len = geometry.vertices.length; index < len; index++)
							
			attributes.size.value[index] = 100 + Math.random() * 100;
		
		particles = new THREE.ParticleSystem(geometry, shaderMaterial);
		scene.add(particles);
	
	}
	
	// Update the transitions (position, rotation).
	function updateTransitions(schedule) {
		
		var size = schedule;
		
		// Random size before play
		if(size === 0) {
		
			var cube = cubes.length;
	
			while(cube--) {
				
				var object = cubes[cube];
				
				new TWEEN.Tween(object.mesh.scale).to({

					x: object.level / 1.35,
					y: object.level / 1.35,
					z: object.level / 1.35 
						
				}, 500).start();

			}
		
		}
		
		// Change position and rotation every two secs
		if((Date.now() - lastTransition > 0 && Date.now() - lastTransition < 1000 && start) || schedule !== undefined) {
		
			start = false;
			
			var cube = cubes.length;
			
			while(cube--) {
		
				var object = cubes[cube];
				
				// Random position
				new TWEEN.Tween(object.mesh.position).to({

					x: Math.random() * 2000 - 1000,
					y: Math.random() * 2000 - 1000,
					z: Math.random() * 2000 - 1000 
						
				}, 3000).start();
					
				// Random rotation				
				new TWEEN.Tween(object.mesh.rotation).to({
				
					x: Math.random() * 2 * Math.PI,
					y: Math.random() * 2 * Math.PI,
					z: Math.random() * 2 * Math.PI 
						
				}, 3000).start();

			}
		
		}
		
		// Reset 'em all
		if(Date.now() - lastTransition > 2000) {
		
			lastTransition = Date.now();
			
			start = true;
			
		}
		
	}

	// Render the animation.
	function render() {

		requestAnimationFrame(render);	
								
		updateTransitions();
		TWEEN.update();
			
		if(!play) {	
			
			group.rotation.x += 0.006;
			group.rotation.y += 0.006;
			
		}
					
		if(play && frequency.length > 0) {
		
			var cube = cubes.length;
			
			while(cube--) {
				
				var object = cubes[cube];
	   
				var currentLevel, band, rotation;
				
				// Frequency
				currentLevel = (frequency[object.band] / 256) * object.level;
				band = currentLevel < 1 ? 1 : currentLevel;
			
				object.scale += (band - object.scale) * 0.2;
								
				group.rotation.x += object.scale * 0.00012;
				group.rotation.y += object.scale * 0.00012;
				
				particles.rotation.copy(group.rotation);
				
				particles.rotation.x *= 0.4;
				particles.rotation.y *= 0.4;
				
				uniforms.bass.value += (object.scale / 2.7 - uniforms.bass.value) * 0.5;
				uniforms.opacity.value = Math.max(0.0, currentLevel / Math.min(12, currentLevel));
				
				// Scale fov						
				camera.fov += (75 - object.scale * 3 - camera.fov) * 0.008;
				camera.updateProjectionMatrix();
						
			}
			
		}
		
		camera.lookAt(scene.position);
				
		stats.update();
										
		renderer.render(scene, camera);
		
	}

})(self);
</script>