body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center; }
  body *,
  body *:before,
  body *:after {
    box-sizing: border-box; }
  body nav,
  body section {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 20px;
    margin-top: 75px;
    text-align: left; }
  body nav {
    display: none;
    width: 10vw; }
    body nav h2 {
      padding: 0;
      margin: 0 0 20px 0; }
    body nav ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      body nav ul li {
        padding: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid #CCC;
        cursor: pointer;
        transition: all 0.5s ease; }
        body nav ul li:hover {
          color: #78b721;
          border-bottom: 1px solid #78b721; }
      body nav ul li.on {
        color: #78b721;
        border-bottom: 1px solid #78b721; }
  body section {
    width: 80vw;
    border-radius: 10px; }
    body section h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #666;
      font-weight: 300;
      text-align: center;
      z-index: 100;
      transition: ease 0.3s color; }
      body section h1 span {
        color: #78b721; }
    body section .content {
      position: relative;
      height: 75vh;
      border-radius: 10px; }

.one #canvas {
  border-radius: 10px; }
